<center><img src="car.jpg" width=500></center>


Insurance companies invest a lot of time and money into optimizing their pricing and accurately estimating the likelihood that customers will make a claim. In many countries insurance it is a legal requirement to have car insurance in order to drive a vehicle on public roads, so the market is very large!

(`Source: https://www.accenture.com/_acnmedia/pdf-84/accenture-machine-leaning-insurance.pdf`) 

Knowing all of this, On the Road car insurance have requested your services in building a model to predict whether a customer will make a claim on their insurance during the policy period. As they have very little expertise and infrastructure for deploying and monitoring machine learning models, they've asked you to identify the single feature that results in the best performing model, as measured by accuracy, so they can start with a simple model in production.

They have supplied you with their customer data as a csv file called `car_insurance.csv`, along with a table detailing the column names and descriptions below.



## The dataset

| Column | Description |
|--------|-------------|
| `id` | Unique client identifier |
| `age` | Client's age: <br> <ul><li>`0`: 16-25</li><li>`1`: 26-39</li><li>`2`: 40-64</li><li>`3`: 65+</li></ul> |
| `gender` | Client's gender: <br> <ul><li>`0`: Female</li><li>`1`: Male</li></ul> |
| `driving_experience` | Years the client has been driving: <br> <ul><li>`0`: 0-9</li><li>`1`: 10-19</li><li>`2`: 20-29</li><li>`3`: 30+</li></ul> |
| `education` | Client's level of education: <br> <ul><li>`0`: No education</li><li>`1`: High school</li><li>`2`: University</li></ul> |
| `income` | Client's income level: <br> <ul><li>`0`: Poverty</li><li>`1`: Working class</li><li>`2`: Middle class</li><li>`3`: Upper class</li></ul> |
| `credit_score` | Client's credit score (between zero and one) |
| `vehicle_ownership` | Client's vehicle ownership status: <br><ul><li>`0`: Does not own their vehilce (paying off finance)</li><li>`1`: Owns their vehicle</li></ul> |
| `vehcile_year` | Year of vehicle registration: <br><ul><li>`0`: Before 2015</li><li>`1`: 2015 or later</li></ul> |
| `married` | Client's marital status: <br><ul><li>`0`: Not married</li><li>`1`: Married</li></ul> |
| `children` | Client's number of children |
| `postal_code` | Client's postal code | 
| `annual_mileage` | Number of miles driven by the client each year |
| `vehicle_type` | Type of car: <br> <ul><li>`0`: Sedan</li><li>`1`: Sports car</li></ul> |
| `speeding_violations` | Total number of speeding violations received by the client | 
| `duis` | Number of times the client has been caught driving under the influence of alcohol |
| `past_accidents` | Total number of previous accidents the client has been involved in |
| `outcome` | Whether the client made a claim on their car insurance (response variable): <br><ul><li>`0`: No claim</li><li>`1`: Made a claim</li></ul> |

In [1]:
# Import required modules
import pandas as pd
import numpy as np
from statsmodels.formula.api import logit

# Start coding!
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 500)

df = pd.read_csv('car_insurance.csv')
df.head()

def exploring_dataset(dataframe):
    display(dataframe.head())
    display(dataframe.tail())
    print(dataframe.info())
    print(dataframe.isnull().sum().sort_values(ascending=False))
    display(dataframe.describe())
    
exploring_dataset(df)

missing_columns = ['credit_score', 'annual_mileage']
df[missing_columns] = df[missing_columns].fillna(df[missing_columns].mean())
df.isnull().sum().sort_values(ascending=False)

models = []

features = df.drop(columns=['outcome', 'id']).columns

for col in features:
    model = logit(f"outcome ~ {col}", data=df).fit()
    models.append(model)
    
accuracies = []
for model in range(len(models)):
    confusion_matrix = models[model].pred_table()
    true_negative = confusion_matrix[0, 0]
    true_positive = confusion_matrix[1, 1]
    false_negative = confusion_matrix[0, 1]
    false_positive = confusion_matrix[1, 0]
    
    accuracy = (true_negative + true_positive) / (true_negative + true_positive + false_negative + false_positive)
    accuracies.append(accuracy)

print(accuracies)

best_feature = features[accuracies.index(max(accuracies))]

best_feature_df = pd.DataFrame({
    'best_feature': best_feature,
    'best_accuracy': max(accuracies)
}, index=[0])
best_feature_df

       id  age  gender driving_experience    education         income  credit_score  vehicle_ownership vehicle_year  married  children  postal_code  annual_mileage vehicle_type  speeding_violations  duis  past_accidents  outcome
0  569520    3       0               0-9y  high school    upper class      0.629027                1.0   after 2015      0.0       1.0        10238         12000.0        sedan                    0     0               0      0.0
1  750365    0       1               0-9y         none        poverty      0.357757                0.0  before 2015      0.0       0.0        10238         16000.0        sedan                    0     0               0      1.0
2  199901    0       0               0-9y  high school  working class      0.493146                1.0  before 2015      0.0       0.0        10238         11000.0        sedan                    0     0               0      0.0
3  478866    0       1               0-9y   university  working class      0.206013                1.0  before 2015      0.0       1.0        32765         11000.0        sedan                    0     0               0      0.0
4  731664    1       1             10-19y         none  working class      0.388366                1.0  before 2015      0.0       0.0        32765         12000.0        sedan                    2     0               1      1.0

          id  age  gender driving_experience    education         income  credit_score  vehicle_ownership vehicle_year  married  children  postal_code  annual_mileage vehicle_type  speeding_violations  duis  past_accidents  outcome
9995  323164    1       0             10-19y   university    upper class      0.582787                1.0  before 2015      0.0       0.0        10238         16000.0        sedan                    0     0               1      0.0
9996  910346    1       0             10-19y         none   middle class      0.522231                1.0   after 2015      0.0       1.0        32765             NaN        sedan                    1     0               0      0.0
9997  468409    1       1               0-9y  high school   middle class      0.470940                1.0  before 2015      0.0       1.0        10238         14000.0        sedan                    0     0               0      0.0
9998  903459    1       0             10-19y  high school        poverty      0.364185                0.0  before 2015      0.0       1.0        10238         13000.0        sedan                    2     0               1      1.0
9999  442696    1       0               0-9y         none  working class      0.435225                1.0  before 2015      1.0       1.0        10238         13000.0        sedan                    0     0               0      0.0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   10000 non-null  int64
 1   age                  10000 non-null  int64
 2   gender               10000 non-null  int64
 3   driving_experience   10000 non-null  object
 4   education            10000 non-null  object
 5   income               10000 non-null  object
 6   credit_score         9018 non-null   float64
 7   vehicle_ownership    10000 non-null  float64
 8   vehicle_year         10000 non-null  object
 9   married              10000 non-null  float64
 10  children             10000 non-null  float64
 11  postal_code          10000 non-null  int64
 12  annual_mileage       9043 non-null   float64
 13  vehicle_type         10000 non-null  object
 14  speeding_violations  10000 non-null  int64
 15  duis                 10000 non-null  int64
 16  past_accidents       10000 non-null  int64
 17  outcome              10000 non-null  float64
dtypes: float64(6), int64(7), object(5)
memory usage: 1.4+ MB
None
credit_score           982
annual_mileage         957
id                       0
children                 0
past_accidents           0
duis                     0
speeding_violations      0
vehicle_type             0
postal_code              0
married                  0
age                      0
vehicle_year             0
vehicle_ownership        0
income                   0
education                0
driving_experience       0
gender                   0
outcome                  0
dtype: int64

                  id           age        gender  credit_score  vehicle_ownership       married      children   postal_code  annual_mileage  speeding_violations         duis  past_accidents       outcome
count   10000.000000  10000.000000  10000.000000   9018.000000       10000.000000  10000.000000  10000.000000  10000.000000     9043.000000         10000.000000  10000.00000    10000.000000  10000.000000
mean   500521.906800      1.489500      0.499000      0.515813           0.697000      0.498200      0.688800  19864.548400    11697.003207             1.482900      0.23920        1.056300      0.313300
std    290030.768758      1.025278      0.500024      0.137688           0.459578      0.500022      0.463008  18915.613855     2818.434528             2.241966      0.55499        1.652454      0.463858
min       101.000000      0.000000      0.000000      0.053358           0.000000      0.000000      0.000000  10238.000000     2000.000000             0.000000      0.00000        0.000000      0.000000
25%    249638.500000      1.000000      0.000000      0.417191           0.000000      0.000000      0.000000  10238.000000    10000.000000             0.000000      0.00000        0.000000      0.000000
50%    501777.000000      1.000000      0.000000      0.525033           1.000000      0.000000      1.000000  10238.000000    12000.000000             0.000000      0.00000        0.000000      0.000000
75%    753974.500000      2.000000      1.000000      0.618312           1.000000      1.000000      1.000000  32765.000000    14000.000000             2.000000      0.00000        2.000000      1.000000
max    999976.000000      3.000000      1.000000      0.960819           1.000000      1.000000      1.000000  92101.000000    22000.000000            22.000000      6.00000       15.000000      1.000000

Optimization terminated successfully.
         Current function value: 0.511794
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.615951
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.467092
         Iterations 8
Optimization terminated successfully.
         Current function value: 0.603742
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.531499
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.572557
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.552412
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.572668
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.586659
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.595431
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.617345
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.605716
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.621700
         Iterations 5
Optimization terminated successfully.
         Current function value: 0.558922
         Iterations 7
Optimization terminated successfully.
         Current function value: 0.598699
         Iterations 6
Optimization terminated successfully.
         Current function value: 0.549220
         Iterations 7
[0.7747, 0.6867, 0.7771, 0.6867, 0.7425, 0.7054, 0.7351, 0.6867, 0.6867, 0.6867, 0.6867, 0.6904, 0.6867, 0.6867, 0.6867, 0.6867]

         best_feature  best_accuracy
0  driving_experience         0.7771